@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.personalInfo,.educationForm,.experienceForm{
  display: flex;
  flex-direction: column;
}

.jobHeader, .eduHeader{
  display: flex;
}

h3{
  margin: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}