@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: pro;
  src: url("./fonts/HelveticaNowText-Regular.otf");
}

@media print {
  body * {
    visibility: hidden;
  }
  .resume, .resume * {
    visibility: visible;
  }
  .resume {
    position: absolute;
    left: 0;
    top: 0;
    right: 100px;
    transform: scale(1.275) ;

  }
}

body{
  min-height: 100vh;
  margin: 0px;
  font-family: 'EB Garamond', serif;
}

/* STYDLING THE MAIN COMPONENTS OF THE BODY*/
.container{
  background-color: #cccccca6;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
}

#header{
  grid-column: 1/3;
  font-family: Arial, Helvetica, sans-serif;
}

#header h1{
  padding:30px 60px ;
  margin: 0px;
  margin-bottom: 50px;
  background-color: lightslategray;
  color: white;

}

.form{
  margin: 0px 60px;
  box-shadow: 0px 0px 10px 0px grey;
  background-color: ghostwhite;
  padding: 30px 70px;
  border-radius: 5px;
  margin-bottom: 50px;

}

.resume{
  position: sticky;
  top: 10px;
  padding: 0px 35px;
  height: 297mm;
  width: 210mm;
  margin: 0px 60px;
  background-color: white;
  color: black;
  margin-bottom: 50px;

}

/*STYLING P TAGS AND HEADERS*/

.personalInfoForm h3, .jobHeader h3, .eduHeader h3, .skillHeader h3{
  font-size: 14pt;
  margin: 0px;
  font-family: pro;

}

h3.expHeaderResume, h3.eduHeaderResume, h3.skillHeaderResume{
  margin-bottom: 0px;
  font-size: 11pt;
  border-bottom: 1px solid black;
}

h3.expHeader{
  margin-top: 0px;
}

.fullName p{
  margin-bottom:0px ;
}

.generalInfo p{
  margin-top: 0px;
}

p#position, .tenure p{
  margin-bottom: 0px;
}

.companyInfo p{
  margin: 0px;
}

#jobDesc{
  margin-bottom: 0px;
}

.branch p, .uniTenure p{
  margin-bottom: 0px;
}

#gpa{
  margin: 0px;
}


.personalInfoForm,.educationForm,.experienceForm,.expInfo,.eduInfo,.personalInfo, .skillForm{
  display: flex;
  flex-direction: column;

}

.personalInfoForm, .experienceForm, .educationForm{
  gap: 10px;
}

.allSkill{
  display: flex;
}

.fullName{
  font-weight: bold;
  font-size: 22pt;
}

.generalInfo{

  font-size: 11.5pt;
}

.experienceResume, .eduResume, .skillResume{
  font-size: 11pt;
}

.expInfo{
  display: grid;
  grid-template-columns: 1fr .15fr;
}

#position{
  font-weight: bold;
}

.companyInfo{
  display: flex;
  grid-column: 1/2;
}

.tenure{
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: flex-end ;
}

#jobDesc{
  grid-row: 3/4;
  grid-column: 1/3;
  word-wrap: normal;
}

.eduInfo{
  display: grid;
  grid-template-columns: 1fr .15fr;
}

.branch{
  display: flex;
}

#uni{
  font-weight: bold;
}

.uniTenure{
  display: flex;
  justify-content: flex-end;
  grid-row: 1/2;
  grid-column: 2/3;
}



.fullName, .generalInfo{
  display: flex;
  justify-content: center;
}

.jobHeader, .eduHeader,.skillHeader{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  margin-bottom:5px ;
}

.jobForm, .eduForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.jobForm button, .eduForm button{
  border-radius: 5px;
  border: 2px solid;
  font-weight: bold;
  padding: 5px;
  background: black;
  color: white;
}

.jobForm button:hover, .eduForm button:hover{
  background-color: white;
  color: black;
  border: 2px solid;
  font-weight: bold;
}


.skillFormMain{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}

.skillContent{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skillFormMain button{
  border-radius: 5px;
  border: 2px solid;
  font-weight: bold;
  padding: 5px;
  background: black;
  color: white;
}


.skillFormMain button:hover{
  background-color: white;
  color: black;
  border: 2px solid;
  font-weight: bold;
}

input{
  border-radius: 5px;
  padding: 2.9px 5px;
}

.jobHeader button, .eduHeader button, .skillHeader button{
  background-color: #00000000;
  border: 2px solid ;
  font-weight: bold;
  font-size: 20px;
}


.jobHeader button:hover, .eduHeader button:hover, .skillHeader button:hover{
  background-color: black;
  color: white;
}

button{
  cursor: pointer;
}

.skillContent~button{
  background-color: #1a73e8;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border: 2px solid;
  padding: 5px;
  width: 100%;
}

.skillContent~button:hover{
  background-color: #3080ea;
  font-weight: bold;
  color: white;
}


.skillContent~button~button{
  display: none;
}